:root {
  --bgc-color-right-section: #fbe0dc;
}

.container {
  background-color: var(--bgc-color-right-section);
  width: 680px;
  height: 840px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../HomePage/girl-and-pet.png");
}
